@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.light-theme{
  --bcg-clr: #ffffff;
  --hv-bcg-clr: #f1356d42;
  --para-clr: #000000;
  --date: #000000;
  --pre-hv: #f1356d25;
} 

.dark-theme{
  --bcg-clr: #1f1f1f;
  --hv-bcg-clr: #2a2a2a;
  --para-clr: #ffffff;
  --date: #ffffff;
  --pre-hv: #64152d25;
}


@font-face {
  font-family: Madina;
  src: url(/public/texts/Madina.ttf);
}
@font-face {
  font-family: sans;
  src: url(/public/texts/SansitaOne.ttf);
}
/* Base styles */
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: var(--para-clr);
  background-color: var(--bcg-clr);
}

.logo-container {
  height: 31px;
  width: 31px;
  border-radius: 50%;
  padding: 15px 15px;
  background-color: #e0225f;
}
.logo {
  font-size: 60px;
  font-family: Madina;
  color: var(--para-clr);
  transform: rotate(-10deg);
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: auto;
  position: relative;
}

.navbar .links {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  color: var(--para-clr);
  padding: 8px;
  border-radius: 4px;
  background:linear-gradient(to right, #f1356d5e 50%, var(--bcg-clr) 50%);
  background-size: 200% 100%;
  background-position: right;
}

.navbar a:hover {
  background-position: left;
  transition: all 0.4s ease-out;
}


.navbar .btn-dropdown {
  background-color: var(--bcg-clr);
  color: var(--para-clr);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 650;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background:linear-gradient(to right, #f1356d8a 50%, var(--bcg-clr) 50%);
  background-size: 200% 100%;
  background-position: right;
}

.navbar .btn-dropdown:hover {
  background-position: left;
  transition: all 0.4s ease-out;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: var(--bcg-clr);
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 1;
}



.dropdown-content button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  color: var(--para-clr);
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  background:linear-gradient(to right, #f1356d5e 50%, var(--bcg-clr) 50%);
  background-size: 200% 100%;
  background-position: right;
}

.dropdown-content button:hover {
  background-position: left;
  transition: all 0.4s ease-out;
}

/* Content */
.content {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
}

/* Blog previews / list */
.blog-list h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.blog-preview {
  padding: 10px 16px;
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: #f1356d;
  border-left-style: solid;
  background-position: left;
  background:linear-gradient(to right, #f1356d25 50%, var(--bcg-clr) 50%);
  background-size: 200% 100%;
  background-position: right;
  /* box-shadow: 0px 4px 8px #0d0d0d; */
  transition: box-shadow 0.2s;
}

.blog-preview:hover {
  background-position: left;
  color: #000000;
  transition: all 1s ease-out;
}

.blog-preview h2 {
  font-family: sans;
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 8px;
  /* font-weight: 600; */
}

.blog-preview p {
  font-size: 14px;
  font-weight: 500;
  color: var(--para-clr);
  opacity: 0.8;
}

.blog-preview a {
  text-decoration: none;
  margin-right: 16%;
}

/* Blog details page */
.blog-details h2 {
  font-family: sans;
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 10px;
  font-weight: 600;
}

.blog-details div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px 0;
}

.blog-details p {
  font-size: 16px;
  color: var(--para-clr);
  opacity: 0.8;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

/* .blog-details button:hover {
  background-color: #e0225f;
} */

.author-info {
  display: flex;
  align-items: center;
}

.user-circle {
  width: 32px;
  height: 32px;;
  border-radius: 50%;
  background-color: #f1356d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 20px;
}

.user-circle b{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.date {
  font-size: 14px;
  font-weight: 600;
  color: var(--date);
}

/* Create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.create button:hover {
  background-color: #e0225f;
}

/* Login and Register form styles */
.login,
.register {
  max-width: 400px;
  margin: auto auto;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--bcg-clr);
  /* color: var(--para-clr); */
  transition: background-color 0.3s;
}

.login h2,
.register h2 {
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 20px;
}

.login input,
.register input,
.login button,
.register button {
  width: 80%; 
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  background-color: var(--hv-bcg-clr);
  color: var(--para-clr);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.login input:focus,
.register input:focus,
.login button:focus,
.register button:focus {
  outline: none;
  border-color: #f1356d;
}

.login button,
.register button {
  width: 50%;
  color: var(--para-clr);
  font-weight: 450;
  cursor: pointer;
  border-color: #e0225f;
  border-style: solid;
  background:linear-gradient(to right, #f1356d  50%,  var(--hv-bcg-clr)50%);
  background-size: 200% 100%;
  background-position: right;
}

.login button:hover,
.register button:hover {
  background-position: left;
  color: var(--bcg-clr);
  transition: all 0.4s ease-out;
}

.login p {
  margin: 0;
  padding: 8px;
  font-size: 14px;
  color: #f1356d;
  text-align: center;
}
.login a {
  text-decoration: none;
  margin: 15%;
  padding-top: 15px;
  font-size: 15px;
  color: var(--para-clr);
  text-align: center;
}
.login label {
  /* text-align: left; */
  display: block;
  font-size: 14px;
  color: var(--para-clr);
  margin-bottom: 5px;
}

/* Additional styles for Register form */
.register label {
  text-align: left;
  display: block;
  font-size: 14px;
  color: var(--para-clr);
  margin-bottom: 5px;
}

/* Optional: Styling for error messages */
.error-message {
  color: #f1356d;
  font-size: 14px;
  margin-top: 5px;
}


.btn-logout {
  background-color: #f1356d;
  color: #ffffff;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-logout:hover {
  background-color: #c82333;
}



/* Profile component styles */
.profile {
  max-width: 480px; 
  margin: 0 auto;
  padding: 20px;
  border: #e0225f;
  border-left-style: solid;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bcg-clr);
  color: var(--para-clr);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-header h2 {
  font-family: sans;
  font-size: 24px;
  color: #f1356d;
  font-weight: 600;
}

.user-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background-color: #f1356d;
  border-radius: 50%;
}

.user-icon {
  font-size: 4rem; /* Adjust the size of the icon (40% smaller than the container) */
  color: #fff;
}

.avatar-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /* border: 2px solid #fff;
  cursor: pointer; */
}

.profile-details p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  margin: 8px 0;
}

.red-alert {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.start {
  padding-left: 15%;
  padding-right: 10%;
}


.start h1{
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

.start h3{
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding-left: 45%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.start p{
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 45%;
}

.start h3 {
  opacity: 0; /* Start with opacity 0 to make the text invisible */
  transform: translateX(-50px); /* Move the text 20px to the left */
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out; /* Add transition for opacity and transform */
}
.start p {
  opacity: 0; /* Start with opacity 0 to make the text invisible */
  transform: translateX(50px); /* Move the text 20px to the left */
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out; /* Add transition for opacity and transform */
}


.start.show-text h3,
.start.show-text p {
  opacity: 1; /* Change opacity to 1 to make the text visible */
  transform: translateX(0); /* Move the text back to its original position */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.blogspot {
  width: 600px;
  height: 200px;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.get-started-button {
  background-color: #f1356d;
  color: #ffffff;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
}


.theme-switch {
  position: fixed;
  top: 20px;
  right: 20px;
}

.theme-switch button {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
}

.theme-switch button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--para-clr);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.theme-switch.light-theme button::before {
  background-color: #fbbd08;
}

.theme-switch.dark-theme button::before {
  background-color: #222;
}

.theme-switch button.moon::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '🌙';
}

.theme-switch button.sun::before {
  content: '☀️';
  display: flex;
  justify-content: center;
  align-items: center;
}